<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WiniumCalculatorTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WiniumCalculatorTests.Properties.Settings>
            <setting name="ApplicationPath" serializeAs="String">
                <value>C:\Users\dev\Desktop\MyCalculator\MyCalculator\bin\Release\MyCalculator.exe</value>
            </setting>
        </WiniumCalculatorTests.Properties.Settings>
    </userSettings>
</configuration>